<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Next Generation Men</title>

    <!-- Bootstrap -->
    <link href="../../../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../../../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../../../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../../../../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/index" class="site_title"><i class="fa fa-paw"></i> <span>NGM</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="../../../../images/{{user.user_metadata.pic}}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{user.user_metadata.name}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br/>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="/index"><i class="fa fa-home"></i>Dashboard</a></li>
                  <li><a href="/schools"><i class="fa fa-graduation-cap"></i>Schools</a></li>
                  <li><a href="/students"><i class="fa fa-users"></i>Students</a></li>
                  <li><a href="/surveys"><i class="fa fa-book"></i>Surveys</a></li>
                  <li><a><i class="fa fa-plus"></i>Add<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/addStudent">Students</a></li>
                      <li><a href="/addCohort">Cohorts</a></li>
                      <li><a href="/addSchool">Schools</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="../../../../images/{{user.user_metadata.pic}}" alt="">{{user.user_metadata.name}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="editProfile">Edit Profile</a></li>
                    <li><a href="resetPassword">Reset Password</a></li>
                    <li><a href="logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Next Generation Men</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Creating Survey: {{survey.survey_name}}</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  <p>At this point in time we have created the survey called {{survey.survey_name}}. Now it's time to add the Question Categories you want to associate with this Survey. Enter the name of a Survey Category below and click the corresponding button. You will be able to populate the actual Questions after you finish adding categories.</p>

                 
                    <form action="addSurvey" method="POST" class="form-horizontal" role="form">
                        <div class="form-group">
                          <legend>Add Survey Category</legend>
                        </div>

                        <div class="form-group row">
                          <label for="category_name" class="col-sm-2 col-form-label col-form-label-lg">Category Name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control form-control-lg" name="category_name" placeholder="Name of Category of Survey Questions" required="required">
                          </div>
                        </div>
                        
                        
                        <div class="form-group">
                          <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" formaction="/surveys/new/{{survey.survey_id}}/category/0" class="btn btn-primary">Add Another Category</button>
                            <button type="submit" formaction="/surveys/new/{{survey.survey_id}}/category/1" class="btn btn-primary">Save & Continue</button>
                          </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {{#if categories}}
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Current Survey Categories</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  <p>Below you will find a list of all the survey categories added so far.</p>
                  <ul>
                    {{#each categories}}
                      <li>{{this.survey_category_name}}</li>
                    {{/each}}
                    </ul>
                    
                    
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Created and Maintained by <a href="https://gtbitsofgood.github.io">GT Bits of Good</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../../../../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../../../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../../../../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../../../../vendors/nprogress/nprogress.js"></script>
    <!-- jQuery Smart Wizard -->
    <script src="../../../../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../../../../build/js/custom.min.js"></script>

    <!-- Datatables -->
    <script src="../../../../vendors/datatables.net/js/jquery.dataTables.min.js"></script>

    <script src="../../../../vendors/jszip/dist/jszip.min.js"></script>
    <script src="../../../../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../../../vendors/pdfmake/build/vfs_fonts.js"></script>
    
    <!-- Datatables -->
    <script>
      $(document).ready(function() {
        $('#datatable').DataTable({
          "searching" : true
        });

      } );
    </script>
    <!-- /Datatables -->


  </body>
</html>