<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Next Generation Men</title>

    <!-- Bootstrap -->
    <link href="../../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../../../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/index" class="site_title"><i class="fa fa-paw"></i> <span>NGM</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="../../images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                  <div class="menu_section">
                    <h3>General</h3>
                    <ul class="nav side-menu">
                      <li><a href="/index"><i class="fa fa-home"></i>Dashboard</a></li>
                      <li><a href="/schools"><i class="fa fa-graduation-cap"></i>Schools</a></li>
                      <li><a href="/students"><i class="fa fa-users"></i>Students</a></li>
                     {{!--  <li><a href="/partners"><i class="fa fa-building"></i>Partners</a></li> --}}
                      <li><a><i class="fa fa-plus"></i>Add<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                          <li><a href="/addStudent">Students</a></li>
                          <li><a href="/addSchool">Schools</a></li>
                         {{!--  <li><a href="/addPartner">Partners</a></li> --}}
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="../../images/img.jpg" alt="">John Doe
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <!--li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li-->
                                <li><a href="login"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Edit Student Form</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>{{student.student_first_name}} {{student.student_last_name}}</h2>
                                <!--
                                                    <ul class="nav navbar-right panel_toolbox">
                                                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                      </li>
                                                      <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                        <ul class="dropdown-menu" role="menu">
                                                          <li><a href="#">Settings 1</a>
                                                          </li>
                                                          <li><a href="#">Settings 2</a>
                                                          </li>
                                                        </ul>
                                -->
                                <!-- </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                              </ul>-->
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <!--Smart Wizard -->
                                <p>This is the form to edit a new student. Fill out all the information you want to change or add.</p>
                                <form id="notWizard" class="form-horizontal" method="post">
                                    <div id="wizard" class="form_wizard wizard_horizontal">
                                        <ul class="wizard_steps">
                                            <li>
                                                <a href="#step-1">
                                                    <span class="step_no">1</span>
                                                    <span class="step_descr">
                                              Step 1<br/>
                                              <small>Personal Information</small>
                                          </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-2">
                                                    <span class="step_no">2</span>
                                                    <span class="step_descr">
                                              Step 2<br/>
                                              <small>Guardian Information</small>
                                          </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-3">
                                                    <span class="step_no">3</span>
                                                    <span class="step_descr">
                                              Step 3<br/>
                                              <small>Pre-Program Information</small>
                                          </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-4">
                                                    <span class="step_no">4</span>
                                                    <span class="step_descr">
                                              Step 4<br/>
                                              <small>Current School Information</small>
                                          </span>
                                                </a>
                                            </li>
                                            
                                        </ul>

                                        <div id="step-1">

                                            <!-- First Name -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="student_first_name">First Name <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="student_first_name" name="student_first_name" required="required"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.student_first_name}}">
                                                </div>
                                            </div>

                                            <!-- Last Name -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="student_last_name">Last Name <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="student_last_name" name="student_last_name"
                                                           required="required"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.student_last_name}}">
                                                </div>
                                            </div>

                                            <!-- Date of Birth -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="student_dob">Date Of
                                                    Birth <span class="required">*</span>
                                                </label>
                                                <div class="col-sm-6 col-smd-6 col-xs-12">
                                                    <input type="date" class="form-control" id="student_dob" name="student_dob" value=date("{{student.student_dob}}")>
                                                </div>
                                            </div>

                                            <!-- Gender -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div id="gender" class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-default"
                                                               data-toggle-class="btn-primary"
                                                               data-toggle-passive-class="btn-default">
                                                            <input type="radio" name="gender" value="male" checked="true"> &nbsp;
                                                            Male &nbsp;
                                                        </label>
                                                        <label class="btn btn-default"
                                                               data-toggle-class="btn-primary"
                                                               data-toggle-passive-class="btn-default">
                                                            <input type="radio" name="gender" value="{{student.student_gender}}"> Female
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Email -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="student_email">Email <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="email" id="student_email" name="student_email" required="required"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.student_email}}">
                                                </div>
                                            </div>

                                            <!-- Cell Phone -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="student_phone">Cell Phone <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="num" id="student_phone" name="student_phone" required="required"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.student_phone}}">
                                                </div>
                                            </div>


                                        </div>
                                        <div id="step-2">
                                            <!-- Gaurdian 1 Name -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="parentone_name">Primary Guardian Name <span
                                                        class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="parentone_name" name="parentone_name"
                                                           required="required"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.guardian_one_name}}">
                                                </div>
                                            </div>

                                            <!-- Gaurdian 1 phone -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="parentone_num">Primary Guardian Cell Phone <span
                                                        class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="tel" id="parentone_num" name="parentone_num"
                                                           required="required"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.guardian_one_phone}}">
                                                </div>
                                            </div>

                                            <!-- Guardian 1 Email -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="parentone_email">Primary Guardian Email <span
                                                        class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="email" id="parentone_email" name="parentone_email"
                                                           required="required"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.guardian_one_email}}">
                                                </div>
                                            </div>

                                            <br/><br/>

                                            <!-- Gaurdian 2 Name -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="parenttwo_name">Secondary Guardian Name</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="parenttwo_name" name="parenttwo_name"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.guardian_two_name}}">
                                                </div>
                                            </div>

                                            <!-- Gaurdian 2 phone -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="parenttwo_num">Secondary Guardian Cell Phone</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="tel" id="parenttwo_num" name="parenttwo_num"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.guardian_two_phone}}">
                                                </div>
                                            </div>

                                            <!-- Guardian 2 Email -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="parenttwo_email">Secondary Guardian Email</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="email" id="parenttwo_email" name="parenttwo_email"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.guardian_two_email}}">
                                                </div>
                                            </div>
                                        </div>

                                        <div id="step-3">

                                            <!-- MS Suspensions -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="mssuspensions">MS Suspensions <span
                                                        class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="mssuspensions" name="mssuspensions"
                                                           required="required"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.middleschool_suspensions}}">
                                                </div>
                                            </div>

                                            <!-- HS Suspensions -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="hssuspensions">HS Suspensions <span
                                                        class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="hssuspensions" name="hssuspensions"
                                                           required="required"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.highschool_suspensions}}">
                                                </div>
                                            </div>

                                            <!-- HS Absences -->
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                       for="hsabsences">HS Absences <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="hsabsences" name="hsabsences"
                                                           required="required"
                                                           class="form-control col-md-7 col-xs-12" value="{{student.highschool_absences}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="step-4">

                                        <!-- Cohort -->
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                                   for="cohort">Cohort <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" name="cohort">
                                                    {{#each cohorts}}
                                                    <option value="{{this.cohort_id}}">{{this.school_name}} Class of {{this.cohort_year}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Program Start Date -->
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Program Start Date <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="date" class="form-control" id="startdate" name="startdate" value="{{student.student_start_date}}">
                                            </div>
                                        </div>
                                        </div>

                                        </div>
                                    </div>
                                </form>
                                <!-- End SmartWizard Content-->

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="../../../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../../../vendors/nprogress/nprogress.js"></script>
<!-- jQuery Smart Wizard -->
<script src="../../../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- Custom Theme Scripts -->
<script src="../../../build/js/custom.min.js"></script>

<!-- jQuery Smart Wizard -->
<script>
    $(document).ready(function () {
        //$('#wizard').smartWizard({onFinish: callback});
        $('#wizard').smartWizard();

        $('#wizard_verticle').smartWizard({
            transitionEffect: 'slide'
        });

        function callback(result) {
//          $('#wizard').smartWizard('showMessage','Finish Clicked');
//          console.log(result);
            console.log('test');
            //$('#wizard').serializeArray();
        }


        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');
    });
</script>
<!-- /jQuery Smart Wizard -->
</body>
</html>