<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>{{survey.survey_name}}</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <form method="POST" >
    {{#each composite}}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{{this.category}}</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Question</th>
                  <th>Response</th>
                </tr>
              </thead>
              <tbody>
                {{#each this.question}}
                <tr>
                  <td>{{this.question}}</td>
                  <td style="width:12%;">
                    <input type="text" class="form-control" name="{{this.survey_response_id}}" value="{{this.response}}" style="width: 100px;" required="required">
                  </td>
                </tr> 
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Save Data</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            
            <div align="center">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
<!-- /page content -->


<!-- jQuery -->
<script src="../../../../../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../../../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../../../../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../../../../../vendors/nprogress/nprogress.js"></script>
<!-- jQuery Smart Wizard -->
<script src="../../../../../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- Custom Theme Scripts -->
<script src="../../../../../build/js/custom.min.js"></script>

<!-- Datatables -->
<script src="../../../../../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../../../../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../../../../../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../../../../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../../../../../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../../../../../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../../../../../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../../../../../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../../../../../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../../../../../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../../../../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../../../../../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="../../../../../vendors/jszip/dist/jszip.min.js"></script>
<script src="../../../../../vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="../../../../../vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Datatables -->
<script>
$(document).ready(function() {
$('#datatable').DataTable({
  "searching" : true
});

} );
</script>
<!-- /Datatables -->
