<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Student Profile</h3>
      </div>


    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{{student.student_first_name}} {{student.student_last_name}} Student Report</h2>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
              <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->
                  <img class="img-responsive avatar-view" src="../../../images/picture.jpg" alt="Avatar" title="Change the avatar">
                </div>
              </div>
              <h3>{{student.student_first_name}} {{student.student_last_name}}</h3>

              <ul class="list-unstyled user_data">
                <li><i class="fa fa-birthday-cake user-profile-icon"></i> {{student.student_dob}} </li>
                <li><i class="fa fa-map-marker user-profile-icon"></i>   {{student.school_name}}
                </li>

                <li>
                  <i class="fa fa-briefcase user-profile-icon"></i> {{student.school_name}} Class of {{student.cohort_year}}
                </li>

                <li><i class="fa fa-phone user-profile-icon"></i>  {{student.student_phone}}</li>
                <li><i class="fa fa-envelope user-profile-icon"></i> {{student.student_email}}</li>
              </ul>

              <a href="/students/{{student.student_id}}/edit" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
              <br />

              <!-- start skills -->
              <h4>Survey Data</h4>
              <ul class="list-unstyled user_data">
                <li>
                  <p>Grit</p>
                  <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{surveyData.[0]}}></div>
                  </div>
                </li>
                <li>
                  <p>Problem Solving</p>
                  <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{surveyData.[1]}}"></div>
                  </div>
                </li>
                <li>
                  <p>Academic Self-Efficacy</p>
                  <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{surveyData.[2]}}"></div>
                  </div>
                </li>
                <li>
                  <p>Teamwork</p>
                  <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{surveyData.[3]}}"></div>
                  </div>
                </li>
                <li>
                  <p>Social Competence</p>
                  <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{surveyData.[4]}}"></div>
                  </div>
                </li>
                <li>
                <li>
                  <p>Growth Mindset</p>
                  <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{surveyData.[5]}}"></div>
                  </div>
                </li>
                <li>
                  <p>Academic Behaviors</p>
                  <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{surveyData.[6]}}"></div>
                  </div>
                </li>
              </ul>
              <!-- end of skills -->

            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">

              <div class="profile_title">
                <div class="col-md-6">
                  <h2>{{student.student_first_name}} {{student.student_last_name}} Academic Performance</h2>
                </div>
                <div class="col-md-6">
                  <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                  </div>
                </div>
              </div>
              <!-- start of user-activity-graph -->
              <div id="graph_line" style="width:100%; height:280px;"></div>
              <!-- end of user-activity-graph -->

              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="notes-tab" role="tab" data-toggle="tab" aria-expanded="true">Notes</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content3" role="tab" id="academic-tab" data-toggle="tab" aria-expanded="false">Academic Record</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content4" role="tab" id="attendance-tab" data-toggle="tab" aria-expanded="false">Attendance Record</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="survey-tab" data-toggle="tab" aria-expanded="false">Survey Responses</a>
                  </li>

                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                    <!-- start NGM Notes about Student -->
                    <ul class="messages">
                      <li>
                        <img src="../../images/{{user.pic}}" class="avatar" alt="Avatar">
                        <div class="message_date">
                          <h3 class="date text-info">24</h3>
                          <p class="month">May</p>
                        </div>
                        <div class="message_wrapper">
                          <h4 class="heading">Desmond Davison</h4>
                          <blockquote class="message">This is an example of a note a NGM user might leave on this profile?</blockquote>
                          <br />
                          <p class="url">
                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                            <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                          </p>
                        </div>
                      </li>
                    </ul>
                    <!-- end Notes -->

                  </div>

                  <!--Begin Survey Tab-->
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="survey-tab">
                    <div class="x_content">
                      <form style="float: right;" action="/students/{{student.student_id}}/profile/survey" method="POST" class="form-inline" role="form">
                        <div class="form-group">
                          <select style="width: 150px;"class="form-control" name="survey_id">
                            {{#each surveySelect}}
                              <option value="{{this.survey_id}}">{{this.survey_name}}</option>
                            {{/each}}
                          </select>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Record</button>
                      </form>
                      <br/><br/>
                      <div class="clearfix"></div>

                      {{!-- <a class="btn btn-primary"  href="/students/{{this.student_id}}/survey/{{this.survey_id}}/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Record</a> --}}



                      <table id="surveyTable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Name of Survey</th>
                            <th>Date Administered</th>
                            <th>Actions</th>
                          </tr>
                        </thead>

                        {{#each surveys}}
                        <tbody>
                          <tr>
                            <td>{{this.survey_name}}</td>
                            <td>{{this.date_surveyed}}</td>
                            <td>
                                <a href="/students/{{this.student_id}}/survey/{{this.survey_id}}/view/{{this.survey_record_id}}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="/students/{{this.student_id}}/survey/{{this.survey_id}}/edit/{{this.survey_record_id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="/students/{{this.student_id}}/survey/{{this.survey_id}}/delete/{{this.survey_record_id}}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</a>
                            </td>
                          </tr>
                        </tbody>
                        {{/each}}
                      </table>
                    </div>
                  </div>
                  <!-- end Survey Data -->

                  <!--Begin Academic Record -->
                  <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="academic-tab">
                    <div class="x_content">
                      <a class="btn btn-primary" style="float: right;" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Record</a>

                      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title" align="center">Add New Academic Record</h1>
                          </div>
                          <div class="modal-body">
                            <form method="post" action="/students/{{student.student_id}}/profile/academic">

                              <!-- Grade input -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Grade: </label>
                              <div class="col-md-9">
                                <select id="grade" name="grade" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                                  <option value='9'>9</option>
                                  <option value='10'>10</option>
                                  <option value='11'>11</option>
                                  <option value='12'>12</option>
                                </select>
                              </div>

                              <!-- Semester input -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Semester: </label>
                              <div class="col-md-9">
                                <select id="semester_number" name="semester_number" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                                  <option value='1'>1</option>
                                  <option value='2'>2</option>
                                </select>
                              </div>

                              <!-- Number of As input -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Number of A's: </label>
                              <div class="col-md-9">
                                <input type="text" id="number_as" name="number_as" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                              </div>

                              <!-- Number of Bs input -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Number of B's: </label>
                              <div class="col-md-9">
                                <input type="text" id="number_bs" name="number_bs" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                              </div>

                              <!-- Number of Cs input -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Number of C's: </label>
                              <div class="col-md-9">
                                <input type="text" id="number_cs" name="number_cs" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                              </div>

                              <!-- Number of D/Fs input -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Number of D/F's: </label>
                              <div class="col-md-9">
                                <input type="text" id="number_ds" name="number_ds" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                              </div>

                              <!-- Semester Credits input -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Semester Credits: </label>
                              <div class="col-md-9">
                                <input type="text" id="semester_credits" name="semester_credits" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                              </div>

                              <div align="center">
                                <input type="button" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                                <input type="submit" class="btn btn-success" >
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      </div>


                      <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Grade</th>
                            <th>Semester</th>
                            <th>A's</th>
                            <th>B's</th>
                            <th>C's</th>
                            <th>F's</th>
                            <th>GPA</th>
                            <th>Credits</th>
                          </tr>
                        </thead>

                        {{#each record}}
                        <tbody>
                          <tr>
                            <td>{{this.grade}}</td>
                            <td>{{this.semester_number}}</td>
                            <td>{{this.number_as}}</td>
                            <td>{{this.number_bs}}</td>
                            <td>{{this.number_cs}}</td>
                            <td>{{this.number_ds}}</td>
                            <td>{{this.semester_gpa}}</td>
                            <td>{{this.semester_credits}}</td>
                          </tr>
                        </tbody>
                        {{/each}}
                      </table>
                    </div>
                  </div>
                  <!--End Academic Record -->
                  <!--Begin Attendance Record -->
                  <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="attendance-tab">
                    <div class="x_content">
                    <a class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#attendanceModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Record</a>

                    <div id="attendanceModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title" align="center">Add New Attendance Record</h1>
                          </div>
                          <div class="modal-body">
                            <form method="post" action="/students/{{student.student_id}}/profile/attendance">

                              <!-- Grade input -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Grade: </label>
                              <div class="col-md-9">
                                <select id="grade" name="grade" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                                  <option value='9'>9</option>
                                  <option value='10'>10</option>
                                  <option value='11'>11</option>
                                  <option value='12'>12</option>
                                </select>
                              </div>

                              <!-- Semester input -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Semester: </label>
                              <div class="col-md-9">
                                <select id="semester_number" name="semester_number" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                                  <option value='1'>1</option>
                                  <option value='2'>2</option>
                                </select>
                              </div>

                              <!-- Classes Missed -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Classes Missed: </label>
                              <div class="col-md-9">
                                <input type="text" id="classes_missed" name="classes_missed" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                              </div>

                              <!-- Days Missed -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Days Missed: </label>
                              <div class="col-md-9">
                                <input type="text" id="days_missed" name="days_missed" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                              </div>

                              <!-- Suspensions -->
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 15px; margin-top: 4px;" align="right">Suspensions: </label>
                              <div class="col-md-9">
                                <input type="text" id="suspensions" name="suspensions" required="required" class="form-control col-md-7 col-xs-12" style="margin-bottom: 10px;">
                              </div>
                              <div align="center">
                                <input type="button" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                                <input type="submit" class="btn btn-success" >
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>


                      <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Grade</th>
                            <th>Semester</th>
                            <th>Classes Missed</th>
                            <th>Days Missed</th>
                            <th>Suspensions</th>
                          </tr>
                        </thead>

                        {{#each attendance}}
                        <tbody>
                          <tr>
                            <td>{{this.grade}}</td>
                            <td>{{this.semester_number}}</td>
                            <td>{{this.classes_missed}}</td>
                            <td>{{this.days_missed}}</td>
                            <td>{{this.suspensions}}</td>
                          </tr>
                        </tbody>
                        {{/each}}
                      </table>
                    </div>
                  </div>
                  <!--End Attendance Record -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->


<!-- jQuery -->
<script src="../../../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../../../vendors/nprogress/nprogress.js"></script>
<!-- morris.js -->
<script src="../../../vendors/raphael/raphael.min.js"></script>
<script src="../../../vendors/morris.js/morris.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="../../../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="../../../vendors/moment/min/moment.min.js"></script>
<script src="../../../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="../../../build/js/custom.min.js"></script>

<script>
$(function() {
var a = [];
{{#each record}}

a.push({"semester_number": "{{this.semester_number}}", "semester_gpa": "{{this.semester_gpa}}"});
{{/each}}
Morris.Line({
  element: 'graph_line',
  data: a,
  xkey: 'semester_number',
  ykeys: ['semester_gpa'],
  labels: ['GPA'],
  parseTime: false,
  hideHover: 'auto',
  });

$MENU_TOGGLE.on('click', function() {
  $(window).resize();
});
});
</script>

<!-- datepicker -->
<script type="text/javascript">
$(document).ready(function() {

var cb = function(start, end, label) {
  console.log(start.toISOString(), end.toISOString(), label);
  $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
  //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
}

var optionSet1 = {
  startDate: moment().subtract(29, 'days'),
  endDate: moment(),
  minDate: '01/01/2012',
  maxDate: '12/31/2015',
  dateLimit: {
    days: 60
  },
  showDropdowns: true,
  showWeekNumbers: true,
  timePicker: false,
  timePickerIncrement: 1,
  timePicker12Hour: true,
  ranges: {
    'Today': [moment(), moment()],
    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
    'This Month': [moment().startOf('month'), moment().endOf('month')],
    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
  },
  opens: 'left',
  buttonClasses: ['btn btn-default'],
  applyClass: 'btn-small btn-primary',
  cancelClass: 'btn-small',
  format: 'MM/DD/YYYY',
  separator: ' to ',
  locale: {
    applyLabel: 'Submit',
    cancelLabel: 'Clear',
    fromLabel: 'From',
    toLabel: 'To',
    customRangeLabel: 'Custom',
    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    firstDay: 1
  }
};
$('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
$('#reportrange').daterangepicker(optionSet1, cb);
$('#reportrange').on('show.daterangepicker', function() {
  console.log("show event fired");
});
$('#reportrange').on('hide.daterangepicker', function() {
  console.log("hide event fired");
});
$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
  console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
});
$('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
  console.log("cancel event fired");
});
$('#options1').click(function() {
  $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
});
$('#options2').click(function() {
  $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
});
$('#destroy').click(function() {
  $('#reportrange').data('daterangepicker').remove();
});
});
</script>
<!-- /datepicker -->
