.form-group
  .col-sm-12
      p
          b(style = 'text-align-last:center') General Information
      button.btn.btn-default.btn-lg(tyle = 'button' href = '#' data-dismiss = 'modal' data-toggle = 'modal' style = 'float:center'
                              data-target = '#editStudentModal')
          span.glyphicon.glyphicon-cog(style = 'margin:5px')
.form-group
  .col-sm-2
      label First Name
  .col-sm-10
      //p(style = 'text-align-last:left') #{val.fname}
      p(style = 'text-align-last:left') First name
.form-group
    .col-sm-2
        label Last Name
    .col-sm-10
        //p(style = 'text-align-last:left') #{val.last_name}
        p(style = 'text-align-last:left') Last Name
.form-group
    .col-sm-2
        label Date of Birth
    .col-sm-10
        //-bday = new Date(val.dob).toDateString()
        //p(style = 'text-align-last:left') #{bday}
        p(style = 'text-align-last:left') mm/dd/yyyy
.form-group
    .col-sm-2
        label Date of entry into Next Generation Men
    .col-sm-10
        //-start = new Date(val.startdate).toDateString()
        //p(style = 'text-align-last:left') #{start}
        p(style = 'text-align-last:left') mm/dd/yyyy
.form-group
    .col-sm-2
        label Phone Number
    .col-sm-10
        //p(style = 'text-align-last:left') #{val.phonenum}
        p(style = 'text-align-last:left') (xxx) xxx-xxxx
.form-group
    .col-sm-2
        label Email
    .col-sm-10
        //p(style = 'text-align-last:left') #{val.email}
        p(style = 'text-align-last:left') adsf@adsf.com
.form-group
    .col-sm-12
        p
            b Parent Information
.form-group
    .col-sm-2
        label Parent 1 Name
    .col-sm-10
        input.form-control(name = 'p1name' type = 'text'
                            placeholder = 'Parent 1 Name')
.form-group
    .col-sm-2
        label Parent 1 Phone Number
    .col-sm-10
        input.form-control(name = 'p1num' type = 'tel'
                            placeholder = 'Parent 1 Phone Number')
.form-group
    .col-sm-2
        label Parent 2 Name
    .col-sm-10
        input.form-control(name = 'p2name' type = 'text'
                            placeholder = 'Parent 2 Name')
.form-group
    .col-sm-2
        label Parent 2 Phone Number
    .col-sm-10
        input.form-control(name = 'p2num' type = 'tel'
                            placeholder = 'Parent 2 Phone Number')
.form-group
    .col-sm-12
        p
            b Pre-Program Information
.form-group
    .col-sm-2
        label Number of Middle-School Suspensions
    .col-sm-10
        input.form-control(name = 'msuspens' type = 'number'
                            placeholder = 'Number of Middle-School Suspensions')
.form-group
    .col-sm-2
        label Number of High-School Suspensions
    .col-sm-10
        input.form-control(name = 'hsuspens' type = 'number'
                            placeholder = 'Number of High-School Suspensions')
.form-group
    .col-sm-2
        label Number of High-School Absences
    .col-sm-10
        input.form-control(name = 'hsabscences' type = 'number'
                            placeholder = 'Number of High-School Absences')
